<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrup/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/roboto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='script/bootstrup/bootstrap.bundle.min.js') }}"></script>
</body>
</html>