<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ webpack_url_for('img/favicon.ico') }}">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ webpack_url_for('css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ webpack_url_for('roboto_css.css') }}">
    <link rel="stylesheet" href="{{ webpack_url_for('style_css.css') }}">
    <script src="{{ webpack_url_for('jquery_js.js') }}"></script>
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}

    {% block script %}
        <script src="{{ webpack_url_for('bootstrap_js.js') }}"></script>
    {% endblock %}
</body>
</html>