{% extends "page_base.html" %}
{% set active_page = active_page|default('catalog') -%}

{% block content %}
    <div class="offcanvas offcanvas-start position-fixed-top" data-bs-scroll="true" data-bs-backdrop="false"
             tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Фильтры</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

        </div>
    </div>
    <div class="w-100 position-relative">
        <main class="w-100 mt-4" style="z-index: 0; box-sizing: border-box">
            <div class="container">
                <asid class="px-3 text-white top-0 w-100 d-flex justify-content-between"
                style="z-index: 10">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Найти..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                    <a class="btn" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Фильтры</a>
                </asid>
                <hr>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="container">
                </div>

                <nav class="d-flex justify-content-end mt-3">
                    <ul class="pagination" id="pagination">

                    </ul>
                </nav>
            </div>
        </main>
    </div>
{% endblock %}

{% block footer %}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="{{ webpack_url_for('img/favicon.ico') }}">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    {% for href, id, caption in navigation_bar %}
                        <li>
                            <a href="{{ href|e }}" class="nav-link px-2 link-secondary">
                                {{ caption|e }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
         </footer>
    </div>
{% endblock %}

{% block script %}
    <script id="catalog_js" src="{{ webpack_url_for('catalog_js.js') }}"></script>
    <script src="{{ webpack_url_for('general.js') }}"></script>
{% endblock %}