{% extends "page_base.html" %}
{% set active_page = active_page|default('constructor') -%}

{% block content %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=57bad925-98eb-4a1e-8bf9-78a2f0a99e22&lang=ru_RU" type="text/javascript"></script>
    <main class="min-vh-100 min-vw-100 position-relative d-flex">
        <div class="position-absolute d-flex min-vw-100 min-vh-100">
                            <!--  MENU begin -->
                            
                <aside class=" col-2 mt-4 gy-4 bg-light text-center border-end border-secondary" style="z-index: 1">
                            <div class="mt-5 ">
                                <button class="accordion-button align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="false">
                                  Редактировать квест
                                </button>
                        
                                <div class="collapse show" id="getting-started-collapse" >
                                      <button type="button" class="btn col-11 btn-outline-secondary mt-1" id="redactorQuest">
                                        Изменить описание квеста
                                    </button>
                                
                                      <button type="button" class="btn col-11 btn-outline-warning mt-1" id="addMBtn" >
                                        Добавить блок перемещения
                                    </button>
                                     <button type="button" class="btn col-11 btn-outline-primary mt-1" id="addQBtn">
                                        Добавить открытый вопрос
                                    </button>
                                     <button type="button" class="btn col-11 btn-outline-info mt-1" id="addQCBtn">
                                        Добавить вопрос с выбором
                                    </button>
                                    
                                </div>
                            
                            
                            </div>
                            <div class="mt-0">
                                <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse2" aria-expanded="false">
                                 Удалить квест
                                </button>
                        
                                <div class="collapse show" id="getting-started-collapse2" >
                                      <button type="button" class="btn  col-11 btn-outline-danger mt-1" id="deleteQuest">
                                        Удалить текущий квест
                                    </button>
                                
                                </div>
                            </div>
                            <div class="mt-0">
                                <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse5" aria-expanded="false">
                                    Опубликовать квест
                                   </button>
                                   <div class="collapse show" id="getting-started-collapse5" >
                                <button type="button" class="btn col-11 btn-outline-success mt-1" id="save">
                                    Опубликовать 
                                </button>
                            </div>
                            </div>
                            <div class="mt-0">
                                <button class="accordion-button align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse3" aria-expanded="false">
                                 Новый квест
                                </button>
                                <div class="collapse show" id="getting-started-collapse3" >
                                      <button type="button" class="btn  col-11 btn-outline-success mt-1" onclick="window.location.href='/constructor.html?name=new&id=0'" id="createNewQuest">
                                        Создать новый квест
                                      </button> 
                                </div>
                            
                            </div>
                   
                            
                    
                     
           
                    </aside>
                    <!--  MENU end -->
            
            <div class="position-relative" id="container" style="z-index: 0">
                <!-- Container for block rendered -->
            </div>
        </div>


        <div class="modal fade" id="redactor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content" id="content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Редактировать</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="xclose"></button>
                    </div>
                    <div class="modal-body">
         
                        <form id="redactorForm" class="row g-3 p-2">
                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block script %}
    <script id="constructor_js" src="{{ webpack_url_for('constructor_js.js') }}"></script>
{% endblock %}