{% set navigation_bar = [('/', 'index', 'Главная'),
                         ('#', 'downloads', 'Конструктор'),
                         ('#', 'list', 'Каталог')] %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="{{ url_for('static', filename='img/favicon.ico') }}">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% for href, id, caption in navigation_bar %}
                    <li>
                        <a href="{{ href|e }}" class="nav-link px-2 link-secondary">
                            {{ caption|e }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
     </footer>
</div>