{% extends "page_base.html" %}
{% set active_page = active_page|default('index') -%}

{% block styles %}
    <link rel="stylesheet" href="{{ webpack_url_for('index_css.css') }}">
{% endblock %}

{% block content %}
    <header class="mask d-flex flex-column align-items-center justify-content-center min-vh-100 header"
             style="background-image: url({{ webpack_url_for('img/telegram_screen_on_phone.jpg') }});">
            <div class="min-vh-100 w-75 position-relative">
                <div class="position-absolute end-0 top-50 col-8">
                    <div class="text-light">
                        <h1 class="h1 text-center" style="font-size: 60px">QuestMaker</h1>
                        <div class="text-center" style="font-size: 25px">Инструмент для создания квестов</div>
                    </div>
                </div>
            </div>
    </header>

    <main>
        {% set sections_content = [('Конструктор', 'constructor_screen.png', 'Быстро и просто', 'Создавайте квесты в удобном онлайн конструкторе.', 'right'),
                                   ('Бот', 'tg.gif', 'Ничего лишнего', 'Не нужно устанавливать дополнительное приложение.
        Проходите квесты в Telegram — он есть у всех.', 'left'),
        ('Геолокация', 'geo.png', 'Находите интересные места', 'Поддержка карт в конструкторе и геолокации в боте.', 'right')] %}
        {% for header, img, slogan, text, direction in sections_content %}
        {% set color = "white" if loop.index % 2 else "#c5c5c5" %}
            <section class="py-4 pt-md-5 min-vh-100" style="background-color: {{ color }}">
                <div class="container">
                    <div class="{% if direction == 'right' %} flex-row row {% else %} flex-row-reverse row {% endif %}">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-6">
                            <!-- Media -->
                            <div class="mb-5 mb-md-0" style="max-width: 80%">
                                <!-- Image -->
                                <img class="img-fluid" src="{{ webpack_url_for('img/' + img) }}" alt="...">
                            </div>
                        </div>
                        <div class="col-md-4 align-self-center mx-auto">
                            <!-- Heading -->
                            <h2 class="mb-2">
                                {{ slogan }}
                            </h2>
                            <!-- Text -->
                            <p class="mb-0">
                                {{ text }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}