{% extends "base.html" %}

{% block content %}
<div>
    <h3>Вход</h3>
    <div>
        <form method="POST" action="/login">
            <div>
                <div>
                    <input type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>
            <div>
                <div>
                    <input type="password" name="password" placeholder="Пароль">
                </div>
            </div>
            <div>
                <label>
                    <input type="checkbox">
                    Запомнить меня
                </label>
            </div>
            <button>Вход</button>
        </form>
    </div>
</div>
{% endblock %}