{% extends "base.html" %}
{% set navigation_bar = [('/', 'index', 'Главная'),
                         ('/constructor.html?name=new&id=0', 'constructor', 'Конструктор'),
                         ('#', 'list', 'Каталог')] %}
{% block header %}
    <header class="border-bottom fixed-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
                <div class="container-fluid vw-100">
                    <div>
                        <a href="/" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                            <img src="{{ webpack_url_for('img/favicon.ico') }} ">
                        </a>
                    </div>

                    <div class="navbar-collapse collapse bg-light" id="navbar">
                        <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            {% for href, id, caption in navigation_bar %}
                                <li class="nav-item">
                                    <a href="{{ href|e }}"
                                            {% if id == active_page %} class="nav-link px-2 active" aria-current="page"
                                            {% else %} class="nav-link px-2" {% endif %}>
                                        {{ caption|e }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="nav-item d-flex align-content-center justify-content-end flex-fill">
                        {% if user.is_authenticated %}
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle d-block link-dark text-decoration-none" id="dropdown1"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ webpack_url_for('img/profile_defolt.png') }}" alt="mdo"
                                         width="32" height="32" class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdown1">
                                    <li><a class="dropdown-item" href="/constructor.html?name=new&id=0">Новый квест</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('profile.profile') }}">Профиль</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <button class="btn btn-outline-primary me-1" type="submit" onclick="window.location='{{ url_for('auth.login')}}';">Войти</button>
                            <button class="btn btn-outline-success me-4" type="submit" onclick="window.location='{{ url_for('auth.signup')}}';">Регистрация</button>
                        {% endif %}
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </nav>
    </header>
{% endblock %}
{% block content%}
{% endblock %}
{% block footer %}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="{{ webpack_url_for('img/favicon.ico') }}">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    {% for href, id, caption in navigation_bar %}
                        <li>
                            <a href="{{ href|e }}" class="nav-link px-2 link-secondary">
                                {{ caption|e }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
         </footer>
    </div>
{% endblock %}