body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

.invalid {
    color: red;
}

.flush {
    padding: 10px;
    border: 1px solid black;
}

.flash.success {
    background: green;
}

.flash.error {
    background: red;
}