/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/css/style.css ***!
  \*********************************************************************************************************************************************************/
body {
  font-family: 'Roboto', sans-serif; }

.invalid {
  color: red; }

.flush {
  padding: 10px;
  border: 1px solid black; }

.flash.success {
  background: green; }

.flash.error {
  background: red; }

